

.navBar {
  background-image: url("https://res.cloudinary.com/ddxhjhvdj/image/upload/v1583428236/Group_8_dt0j1c.png");
  height: 182px;
  width: 100%;
  display: flex;
  align-items: center;
  font: Regular 30px/36px Alegreya Sans;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-between;
}
.navBar a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-decoration: none;
  padding-right: 5px;
}
.navBar a:hover{
  color: #8B6647;
}

.logo{
  margin-left: 35%;
  display: inline-block;
  max-height: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  text-decoration: none;
}
.navLinks {
  /* margin-left: 32%; */
  display: inline-block;
  color: white;
}

.logCart {
  justify-content: flex-end;
  display: reverse;
  text-decoration: none;
  margin-right: 5%;
  display: inline-block;
  color: white;

}
