
* {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
}

html {
  height: 100%;
  box-sizing: border-box;

}

/*          HEADER            */
.navBar {
  background-image: url("https://res.cloudinary.com/ddxhjhvdj/image/upload/v1583428236/Group_8_dt0j1c.png");
  height: 182px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  font: Regular 30px/36px Alegreya Sans;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-between;
}
.navBar a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  text-decoration: none;
  padding-right: 5px;
}


.navBar a:hover{
  color: #8B6647;
}

.logo{
  margin-left: 35%;
  display: inline-block;
  max-height: 100%;
  margin-bottom: 0;
  vertical-align: middle;
  text-decoration: none;
}
.navLinks {
  /* margin-left: 32%; */
  display: inline-block;
  color: white;
}

.logCart {
  justify-content: flex-end;
  display: reverse;
  text-decoration: none;
  margin-right: 5%;
  display: inline-block;
  color: white;

}
.h2-banner{
  text-shadow: rgba(131, 80, 58, 0.966) 7px 5px 11px;
  font: Regular 30px/36px Alegreya Sans;
  font-size: 43px;
}
.banner{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
  height: 250px;
  text-align: center;
  background-image: url("https://res.cloudinary.com/ddxhjhvdj/image/upload/c_scale,h_304,w_1700/v1583439443/Group_16_t7ul6r.png");
  background-repeat: no-repeat;
  margin-bottom: 2em;

}

  /*       FOOTER      */
.footerBar {
  background-image: url("https://res.cloudinary.com/ddxhjhvdj/image/upload/v1583428236/Group_27_rmoefk.png");
  height: 182px;
  width: 100%;
  display: flex;
  align-items: center;
  font: Regular 30px/36px Alegreya Sans;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: space-between;
  /* margin-top: -5px; */
}
.footerLink {
  color: white;
  margin: 0 5em 0 5em;
}

.footerBar a {
  text-decoration: inherit; /* no underline */
  text-decoration: none;
  padding-right: 5px;
}
.footerBar a:hover{
  color: #8B6647;
}

/*    main content   */
.products-service-parent{
display: flex;
height: 50vh;
margin-bottom: 2;
}

.products-container img{
  max-width: 100px;
  
}
.products-container{
 background-image: url("https://res.cloudinary.com/ddxhjhvdj/image/upload/c_scale,w_700/v1583443344/freshh-connection-xTLqJqtq8R4-unsplash_unqzxv.jpg");
 width: 50%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
  background-repeat: no-repeat;
  border-radius: 2px;
 
}

.service-container{
  background-image: url("https://res.cloudinary.com/ddxhjhvdj/image/upload/c_scale,w_850/v1583428094/Group_11_znenbj.png");
  width: 50%;
  height: 100%;
  display: flex;
   align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  border-radius: 2px;
 
}
.btn-c{
  padding: 14px;
  margin: 5px;
  background-color: #c2b5b88a; 
  border: 1px, solid, rgba(247, 180, 180, 0.24);
  border-radius: 7px;
  width: 150px;
  color: rgb(54, 50, 53);
  font-size: 18px;
  text-align: center;
  font: Light 100px/120px Alegreya Sans SC;
  color: aliceblue;
  box-shadow: 2px, rgb(255, 213, 196);
  text-transform: uppercase;
}


/*      Products          */
.productsPageContainer {
  width: 90vw;
}
.productsH1 {
  margin-top: 1em;
  font-weight: bold;
  font-family: Alegreya Sans;
  height: 100%;
  width: 100%;
  color: #CC7C68;
  text-align: left;
  margin-left: 2em;
}

.search {
  font-family: Alegreya Sans SC;
  height: 100%;
  width: 100%;
  margin: 1em auto 0 auto;
  display: inline-block;
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.productGrid{
  font-family: Alegreya Sans SC;
  height: 100%;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.productItem {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
  border-radius: 1rem;
}

.productItem img {
  max-width: 15vw;
}
.productItem a {
   color: #D9BB9B;
    text-decoration: inherit; /* no underline */
    text-decoration: none;
    padding-right: 5px;
}

.productItem a:hover {
  color: #8B6647;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
}

.productItem:hover {
    box-shadow: 1px 1px 40px rgba(82, 64, 64, 0.1);
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
